@import './../styles/global/variables.scss';
.jl-main{
    position: absolute;
    left: 30px;
    bottom: 30px;
    right: 30px;
    top: 30px;
    background-color: $TEXT;
    .jl-logo{
        position: absolute;
        top: 30px;
        left: 30px;
        .jl-logo__container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .jl-logo__text{
            font-family: $FONT_GYRE;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
    }
    .jl-nav__link{
        position: absolute;
        width: 60px;
        height: 100%;
        font-family: $FONT_GYRE;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 4px;
        z-index: 1;
        &.contact_link{
            right: 0;
        }
        &.about_link{
            left: 0;
        }
        .jl-nav__link__about,
        .jl-nav__link__contact{
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform-origin: left top;
            cursor: pointer;
        }
        .jl-nav__link__about{
            transform: rotate(-90deg) translate(-50%, -50%);
        }
        .jl-nav__link__contact{
            transform: rotate(90deg) translate(-50%, -50%);
        }
    }
    .jl-social{
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1;
        .jl-social__container{
            display: flex;
            justify-content: center;
            .jl-social__link{
                display: inline-block;
                padding: 20px 30px;
                font-family: $FONT_GYRE;
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 4px;
                cursor: pointer;
            }
        }
    }
    .jl-body{
        position: absolute;
        width: 100%;
        height: 100%;
        .jl-body__box{
            position: absolute;
            width: 300px;
            height: 400px;
            background-color: rgba(26, 188, 156, 1);
            left: 10%;
            top: 50%;
            transform: translateY(-50%);
        }
        .jl-body__content{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-family: $FONT_GYRE;
            .jl-title__text{
                font-size: 120px;
                font-weight: $FONT_BOLD;
                padding-bottom: 20px;
                letter-spacing: -3px;
            }
            .jl-body__subtitle__text{
                font-size: 40px;
                font-weight: $FONT_REGULAR;
            }
        }
    }
    .jl-modal{
        display: none;
        position: fixed;
        left: 30px;
        bottom: 30px;
        right: 30px;
        top: 30px;
        z-index: 100;
        .jl-modal__overlay{
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            background-color:rgba(26, 188, 156, 1);
            height: 100%;//temporal
        }
        .jl-modal__header{
            position: absolute;
            right: 0;
            top: 0;
            .jl-modal__close{
                position: relative;
                height: 30px;
                width: 30px;
                margin-right: 25px;
                margin-top: 25px;
                cursor: pointer;
                span{
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    background-color: $WHITE;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                span:nth-child(1){
                    transform: rotate(45deg);
                }
                span:nth-child(2){
                    transform: rotate(-45deg);
                }
            }
        }
        .jl-modal__body{
            width: 100%;
            height: 100%;
        }
    }
}