@import './../styles/global/variables.scss';
.jl-main{
    position: absolute;
    left: 30px;
    bottom: 30px;
    right: 30px;
    top: 30px;
    background-color: $TEXT;
    .jl-nav__link{
        position: absolute;
        width: 60px;
        height: 100%;
        font-family: $FONT_GYRE;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 4px;
        &.contact_link{
            right: 0;
        }
        &.about_link{
            left: 0;
        }
        .jl-nav__link__about,
        .jl-nav__link__contact{
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform-origin: left top;
        }
        .jl-nav__link__about{
            transform: rotate(-90deg) translate(-50%, -50%);
        }
        .jl-nav__link__contact{
            transform: rotate(90deg) translate(-50%, -50%);
        }
    }
    .jl-social{
        position: absolute;
        width: 100%;
        bottom: 0;
        .jl-social__container{
            display: flex;
            justify-content: center;
            .jl-social__link{
                display: inline-block;
                padding: 20px 30px;
                font-family: $FONT_GYRE;
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
        }
    }
}