@import './../styles/global/variables.scss';
.jl-main{
    position: absolute;
    left: 30px;
    bottom: 30px;
    right: 30px;
    top: 30px;
    background-color: $TEXT;
    .jl-logo{
        position: absolute;
        top: 0;
        height: 60px;
        left: 100px;
        .jl-logo__container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .jl-logo__text{
            font-family: $FONT_GYRE;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
    }
    .jl-nav__link{
        position: absolute;
        width: 60px;
        height: 100%;
        font-family: $FONT_GYRE;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 4px;
        z-index: 1;
        &.contact_link{
            right: 0;
        }
        &.about_link{
            left: 0;
        }
        .jl-nav__link__about,
        .jl-nav__link__contact{
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform-origin: left top;
            cursor: pointer;
        }
        .jl-nav__link__about{
            transform: rotate(-90deg) translate(-50%, -50%);
        }
        .jl-nav__link__contact{
            transform: rotate(90deg) translate(-50%, -50%);
        }
    }
    .jl-social{
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1;
        .jl-social__container{
            display: flex;
            justify-content: center;
            .jl-social__link{
                display: inline-block;
                padding: 20px 30px;
                font-family: $FONT_GYRE;
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 4px;
                cursor: pointer;
            }
        }
    }
    .jl-body{
        position: absolute;
        width: 100%;
        height: 100%;
        .jl-body__box{
            position: absolute;
            width: 300px;
            height: 400px;
            background: rgba(26, 188, 156, .5);
            left: 10%;
            top: 50%;
            transform: translateY(-50%);
        }
        .jl-body__content{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-family: $FONT_GYRE;
            .jl-title__text{
                font-size: 120px;
                font-weight: $FONT_BOLD;
                padding-bottom: 20px;
                letter-spacing: -3px;
            }
            .jl-body__subtitle__text{
                font-size: 40px;
                font-weight: $FONT_REGULAR;
            }
        }
    }
}