@import './../styles/global/variables.scss';

.jl-header{
    height: 100px;
    position: relative;
    margin: 0 50px;
    .jl-header__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .jl-logo__name{
        font-size: 12px;
        letter-spacing: 3px;
        font-weight: $FONT_SEMIBOLD;
        color: $TEXT;
        text-transform: uppercase;
    }
}