@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/roboto/Roboto-Black.ttf');
    font-weight: 900;
    font-style: normal;
}