
$TEXT:#ecf0f1;
$FONDO:#222;
$MENU: #111;
$TEXT_MENU: #463F4D;

$FONT_MONTSERRAT: 'montserrat', sans-serif;
$FONT_MONO: 'Roboto-mono', sans-serif;
$FONT_AVENIR: 'avenir', sans-serif;
$FONT_LIGHT: 300;
$FONT_REGULAR: 400;
$FONT_MEDIUM: 500;
$FONT_BOLD: 700;
$FONT_BLACK: 900;