@import './../styles/global/variables.scss';
.jl-nav{
    position: fixed;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    z-index: 10;
    &.is-open{
        transform: translateY(0);
    }
    .jl-nav__container_line{
        position: relative;
        height: 100%;
        width: 100%;
        .jl-nav__line{
            position: relative;
            display: inline-block;
            width: 25%;
            height: 100%;
            background: $MENU;
            transform: translateY(-100%);
            // .jl-nav__border__line{
            //     position: absolute;
            //     height: 100%;
            //     width: 1px;
            //     top: 0;
            //     right: 0;
            //     background: $TEXT;
            // }
        }
    }
    .jl-nav__close{
        position: absolute;
        top: 25px;
        right: 50px;
        height: 50px;
        width: 50px;
        opacity: 0;
        cursor: pointer;
        z-index: 10;
        .jl-nav__container__close{
            position: relative;
            height: 100%;
            width: 100%;
            .jl-nav__close__x,
            .jl-nav__close__x:before{
                position: absolute;
                width: 40px;
                height: 1px;
                left: 0;
                bottom: 0;
                top: 0;
                margin: auto 0px;
                background: $TEXT;
                transform: rotate(45deg);
            }
            .jl-nav__close__x:before{
                content: '';
                transform: rotate(90deg);
            }
        }
    }
    .jl-nav__menu{
        position: absolute;
        height:100%;
        width:100%;
        top: 0;
        .jl-nav__menu__container{
            position: relative;
            margin: 0 auto;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            li{
                list-style: none;
                display: block;
                padding-bottom: 50px;
                .jl-nav__menu__link{
                    position: relative;
                    display: inline-block;
                    font-family: $FONT_MONO;
                    font-weight: $FONT_REGULAR;
                    font-size: 40px;
                    color: $TEXT;
                    letter-spacing: 5px;
                    line-height: 40px;
                    text-decoration: none;
                    overflow: hidden;
                    width: auto;
                    height: 100%;
                    cursor: pointer;
                    transition: all .3s linear;
                    .jl-nav__menu__link__title{
                        opacity:0;
                        display: inline-block;
                        transform: translateY(50px);
                    }
                    // .jl-nav__menu__title__box{
                    //     position: absolute;
                    //     height: 100%;
                    //     width: 100%;
                    //     background: $TEXT;
                    //     top: 0;
                    //     left: 0;
                    //     transform: translateX(-110%);
                    // }
                    // .jl-nav__menu__title__underline{
                    //     position: absolute;
                    //     left: 0;
                    //     right: 0;
                    //     top: 0;
                    //     bottom: 0;
                    //     height: 1px;
                    //     width: 100%;
                    //     background: $TEXT;
                    //     margin: auto 0px;
                    //     transform: scaleX(0);
                    //     transition: all .3s ease;
                    // }
                    &:hover{
                        letter-spacing: 50px;
                    }
                }
            }
        }
    }
}